* {
    margin: 0;
    font-family: sans-serif;
}

p {
    margin: 1em 0;
}

main {
    background-color: cornsilk;
    height: 100vh;
}

.article {
    max-width: 680px;
    padding: 24px;
    margin: 0 auto;
}

.article__heading {
    color: palevioletred;
    margin: 0 0 1.5rem;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__figure {
    margin: 16px 0;
}

.figure__image {
    max-width: 100%;
}

.figure__caption {
    margin: 8px 0 0;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}