* {
    margin: 0;
    font-family: sans-serif;
}

p{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

main {
    background-color: cornsilk;
    width: 100vw;
    height: 100vh;
}

.article {
    max-width: 576px;
    padding: 24px;
    margin: 0 auto;
}

.article__heading {
    color: palevioletred;
    margin: 0 0 1.5rem 0;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__figure {
    margin: 16px 0;
}

.figure__image {
    max-width: 100%;
}

.figure__caption {
    margin: 8px 0 0;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}