/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
* {
    font-family: 'Arial', serif;
    margin: 0;
}

.main {
    background-color: #F6F6F6;
    height: 100vh;
    width: 100vw;
    min-width: 1200px;
}

.products-of-the-week {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.products-of-the-week__title {
    font-weight: 900;
    font-size: 48px;
    margin: 60px;
}

.products-of-the-week__container {
    width: 1180px;
    display: flex;
    justify-content: space-between;
}

.product-card {
    width: 380px;
    height: 480px;
    box-shadow: 0 0 45px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    background: #FFFFFF;
}

.product-card__image {
    height: 216px;
    background-image: url(img.png);
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

.product-card__container {
    margin: 0 24px;
    height: 170px;
}

.product-card__title {
    font-weight: 900;
    font-size: 24px;
    color: #2F2F2F;
    margin: 24px 0;
}

.product-card__text {
    line-height: 24px;
    color: #2F2F2F;
    margin: 24px 0;
}

.product-card__button {
    height: 48px;
    border: 2px solid #42940F;
    border-radius: 8px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #42940F;
    margin: 0 24px;
    cursor: pointer;
}

.product-card__button:hover {
    background-color: #42940F;
    color: #FFFFFF;
}

.product-card__button:active {
    background-color: #1F5200;
    color: #FFFFFF;
    border: 2px solid #1F5200;
}

.product-card__button--disabled {
    background: #4E4E4E;
    color: #FFFFFF;
    border: 2px solid #4E4E4E;
    cursor: auto;
}

.product-card__button--disabled:hover {
    background: #4E4E4E;
    color: #FFFFFF;
    border: 2px solid #4E4E4E;
    cursor: auto;
}

.product-card__tag {
    border-radius: 8px;
    color: #2F2F2F;
    padding: 5px 20px;
    margin-left: 16px;
    position: relative;
    top: 16px;
}

.product-card__tag--pink {
    background: #FDCFF3;
}

.product-card__tag--orange {
    background: #FFCF56;
}

@media screen and (max-width: 1190px) {
    .main {
        height: 1720px;
    }

    .products-of-the-week {
        height: 1680px;
        width: 100vw;
    }

    .products-of-the-week__container {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 545px) {
    .products-of-the-week__title {
        text-align: center;
    }

    .main {
        height: 1780px;
    }

    .products-of-the-week {
        height: 1750px;
    }
}
