/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
* {
    font-family: 'Arial', serif;
    margin: 0;
}

.main {
    background-color: #F6F6F6;
    min-height: 100vh;
    /*width: 100vw;*/
    /*min-width: 1200px;*/
}

.products-of-the-week {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.products-of-the-week__title {
    font-weight: 900;
    font-size: 48px;
    margin: 78px 20px 43px;
}

.products-of-the-week__container {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
}

.product-card {
    max-width: 380px;
    min-height: 480px;
    margin: 20px  20px 42px;
    box-shadow: 0 0 45px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    background: #FFFFFF;
}

.product-card__image {
    height: 212px;
    background-image: url(img.png);
    background-size: cover;
    border-radius: 14px 14px 0 0;
}

.product-card__container {
    margin: 0 24px;
    min-height: 172px;
}

.product-card__title {
    font-weight: 900;
    font-size: 24px;
    color: #2F2F2F;
    margin: 26px 0 19px;
}

.product-card__text {
    line-height: 24px;
    color: #2F2F2F;
}

.product-card__button {
    height: 43px;
    border: 2px solid #42940F;
    border-radius: 8px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #42940F;
    margin: 22px 24px;
    cursor: pointer;
}

.product-card__button:hover {
    background-color: #42940F;
    color: #FFFFFF;
}

.product-card__button:active {
    background-color: #1F5200;
    color: #FFFFFF;
    border: 2px solid #1F5200;
}

.product-card__button--disabled {
    background: #4E4E4E;
    color: #FFFFFF;
    border: 2px solid #4E4E4E;
    cursor: auto;
}

.product-card__button--disabled:hover {
    background: #4E4E4E;
    color: #FFFFFF;
    border: 2px solid #4E4E4E;
    cursor: auto;
}

.product-card__tag {
    border-radius: 8px;
    color: #2F2F2F;
    padding: 3px 16px;
    position: relative;
    top: 20px;
    left: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.product-card__tag--new {
    background: #FDCFF3;
}

.product-card__tag--last {
    background: #FFCF56;
    margin-left: 12px;
}

@media screen and (max-width: 1190px) {
    .products-of-the-week__title {
        text-align: center;
        font-weight: 800;
        font-size: 38px;
    }

    .products-of-the-week__container {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

